<template>
  <div>
    <Toolbar></Toolbar>
  </div>
</template>

<script>
import Toolbar from "@/components/Toolbar/Toolbar";
export default {
  name: "StandardLayout",
  components: {Toolbar},
  data: () => ({
    drawer: null
  }),
  props: {
    source: String
  }
}
</script>