<template>
  <v-speed-dial
      absolute
      style="z-index: 100"

      v-model="fab"
      bottom
      left
      direction="top"
      open-on-hover="false"
      transition="slide-y-reverse-transition"
  >
    <template v-slot:activator>
      <v-btn
          v-model="fab"
          dark
          fab
          color="black"
      >
        <v-icon v-if="fab">
          mdi-close
        </v-icon>
        <v-icon v-else>
          format_align_justify
        </v-icon>
      </v-btn>
    </template>
    <v-btn @click="layout='standard'">
      <span class="hidden-sm-and-down">Standard</span>
    </v-btn>
    <v-btn @click="layout='none'">
      <span class="hidden-sm-and-down">Aucun</span>
    </v-btn>
    <v-btn @click="layout='base'">
      <span class="hidden-sm-and-down">Base</span>
    </v-btn>
    <v-btn @click="layout='inbox'">
      <span class="hidden-sm-and-down">Inbox</span>
    </v-btn>
    <v-btn @click="layout='threeColumns'">
      <span class="hidden-sm-and-down">Three columns</span>
    </v-btn>
    <v-btn @click="layout='discord'">
      <span class="hidden-sm-and-down">Discord</span>
    </v-btn>
  </v-speed-dial>

</template>

<script>
import SimpleLayout from "@/layout/SimpleLayout";
import BaseLayout from "@/layout/BaseLayout";
import InboxLayout from "@/layout/InboxLayout";
import ThreeColumnLayout from "@/layout/ThreeColumnLayout";
import DiscordLayout from "@/layout/DiscordLayout";
import StandardLayout from "@/layout/StandardLayout";

export default {
  name: "ChangeLayout",
  data() {
    return {
      layout: 'left',
      fab: false,
    }
  },
  methods: {
    setLayout(layout) {
      this.$store.commit('SET_LAYOUT', layout)
    }
  },
  watch: {
    layout() {
      let layoutToUse
      switch (this.layout) {
        case 'standard':
          layoutToUse = StandardLayout
          break;
        case 'none':
          layoutToUse = SimpleLayout
          break;
        case 'base':
          layoutToUse = BaseLayout
          break;
        case 'inbox':
          layoutToUse = InboxLayout
          break;
        case 'threeColumns':
          layoutToUse = ThreeColumnLayout
          break;
        case 'discord':
          layoutToUse = DiscordLayout
          break;

      }
      this.setLayout(layoutToUse)
    }
  }
}
</script>

<style scoped>

</style>