<template>
<div>
  <VCard>
    <v-toolbar
        color="grey accent-4" style="flex:1"
        dense
        dark
    >
      <TicketListTitle :message="$tc('nbTickets', ticketsCount)"></TicketListTitle>
    </v-toolbar>
    <VDivider></VDivider>
    <TicketList status="closed"  @change="tickets => this.ticketsCount = tickets.length"></TicketList>
  </VCard>
</div>
</template>
<i18n path="">
{
  "en": {
    "nbTickets": "Aucun ticket fermé | 1 ticket fermé| {count} tickets fermés"
  },
  "fr": {
    "nbTickets": "qsdsqd"
  }
}
</i18n>
<script>
import TicketList from "@/components/Tickets/TicketList";
import TicketListTitle from "@/components/Tickets/TicketListTitle";

export default {
name: "ClosedList",
  components:{TicketList, TicketListTitle},
  data(){
    return {
      ticketsCount:undefined
    }
  }
}
</script>

<style scoped>

</style>