<template>
  <VContainer fluid class="d-flex flex-column justify-space-between">
    <VCardText>
      <VRow>
        <VCol cols="4">
          <CreateList></CreateList>
        </VCol>
        <VCol cols="4">
          <PendingList></PendingList>
        </VCol>
        <VCol cols="4">
          <ClosedList></ClosedList>
        </VCol>
      </VRow>
    </VCardText>
    <div>
      Cliquez sur les boutons ci-dessus
      <VBtn color="success"
            shaped
            dark
            outlined
            small>Démarrer
      </VBtn>
      ,
      <VBtn color="success"
            shaped
            dark
            outlined
            small>Process <span style="color: red"> (3 fois)</span>
      </VBtn>
      et
      <VBtn color="success"
            shaped
            dark
            outlined
            small>Archiver
      </VBtn>
      pour faire évoluer le ticket
    </div>
  </VContainer>
</template>

<script>
import CreateList from "@/components/Tickets/CreatedStatus/CreateList";
import PendingList from "@/components/Tickets/PendingStatus/PendingList";
import ClosedList from "@/components/Tickets/ClosedStatus/ClosedList";

export default {
  name: "AllStatusList",
  components: {CreateList, PendingList, ClosedList}
}
</script>

<style scoped>

</style>