<template>
  <VCard>
    <VCardTitle>
      <slot name="title"></slot>
    </VCardTitle>
    <VCardText>
      <slot></slot>
    </VCardText>
  </VCard>
</template>

<script>
export default {
  name: "CardExpansion",
  data() {
    return {
      panel: [0]
    }
  }
}
</script>

<style scoped>

</style>