<template>
  <v-btn
      color="success"
      shaped
      dark
      outlined
      small
      @click="process"
  >
    {{ statusStepLabel }}
  </v-btn>
</template>

<script>
import TicketsService from "@/services/TicketsDataService";
import {getCurrentDateTime} from "@/services/Utils";

export default {
  name: "ProcessButton",
  props: {
    ticket: {
      type: Object,
      default: () => {
      }
    }
  },
  computed: {
    statusStepLabel() {
      if (this.ticket.step === 0)
        return "Démarrer"
      if (this.ticket.step < 4)
        return "Process"
      if (this.ticket.step === 4)
        return "Archiver"
      if (this.ticket.step > 5)
        return ""
      return ""
    }
  },
  methods: {
    onDataChange(ticket) {
      this.ticket = ticket
    },
    process() {

      const action = () => {

        this.ticket.step += 1
        if (this.ticket.step < 4)
          this.ticket.status = "pending"
        if (this.ticket.step === 4)
          this.ticket.status = "closed"
        if (this.ticket.step > 4)
          this.ticket.status = "archived"

        const lastUpdate = getCurrentDateTime()
        this.ticket.lastUpdate =lastUpdate
        TicketsService.update(this.ticket.key, this.ticket)
      }

      this.$emit('process', action)


    }
  }
}
</script>

<style scoped>

</style>