<template>
  <VCardTitle class="d-flex ">
    <h4 color="primary">{{ message }}</h4>
  </VCardTitle>
</template>

<script>
export default {
name: "TicketListTitle",
  props:{
    message:{
      type:String,
      default : ''
    }
  }
}
</script>

<style scoped>

</style>