<template>
  <div class="my-2 overflow-y-auto" style="max-height: 600px">
    <v-list two-line>
      <div v-for="(ticket, index) in tickets" :key="ticket.key">
        <VFadeTransition>
          <TicketItem :ticket="ticket"></TicketItem>
        </VFadeTransition>
        <v-divider v-if="index < tickets.length-1"
                   inset
        ></v-divider>
        <div v-else class="endOfList"></div>
      </div>
    </v-list>
  </div>
</template>

<script>
import TicketsService from "@/services/TicketsDataService";
import TicketItem from "@/components/Tickets/Ticket/TicketItem";

export default {
  name: "ActivityList",
  components: {TicketItem},
  props: {
    status: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      tickets: [],
      type:'selected',
      selected:'endOfList'
    }
  },
  mounted() {
    TicketsService.getAllStatus(this.status).on("value", this.onDataChange);
  },
  beforeDestroy() {
    TicketsService.getAllStatus(this.status).off("value", this.onDataChange);
  },
  computed:{
    target () {
      const value = this[this.type]
      if (!isNaN(value)) return Number(value)
      else return value
    },
  },
  watch: {
    tickets() {
      this.$emit('change', this.tickets)
    }
  },
  methods: {
    onDataChange(items) {
      let tickets = [];

      items.forEach((item) => {
        let key = item.key;
        let data = item.val();
        tickets.push({
          key: key,
          ...data
        });
      });

      this.tickets = tickets;
      //this.gotoLast()
    }
    ,
    gotoLast() {
      this.$nextTick(() => {
        const sel = this.$refs.endOfList
        console.log('ici', sel)
        this.$vuetify.goTo('.endOfList', {
          duration: 200, offset:1,easing: 'linear'});
      });
    }
  }
}
</script>

<style scoped>

</style>