<template>
      <div>
        <v-toolbar
            dark="dark" dense
        >
          <v-app-bar-nav-icon>DXC</v-app-bar-nav-icon>
          <v-toolbar-title dense>
            <VBtn text>Tickets</VBtn>
            <VBtn>Contracts</VBtn></v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon>
            <v-icon>mdi-magnify</v-icon>
          </v-btn>
          <v-btn icon>
            <v-icon>mdi-heart</v-icon>
          </v-btn>
          <v-btn icon>
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
          <v-spacer></v-spacer>

          <v-text-field
              dense
              solo
              label="Search / History"
              prepend-inner-icon="search"
              rounded
              light
              hide-details
              style="max-width: 300px"
          ></v-text-field>
          <v-btn dense icon dark><VIcon dense>help</VIcon></v-btn>
          <CurrentUserResume x-small></CurrentUserResume>
        </v-toolbar>
      </div>
</template>

<script>
import CurrentUserResume from "@/components/Users/Current/CurrentUserResume";
export default {
name: "Toolbar",
  components: {CurrentUserResume},
  data: () => ({
    bars: [
      { class: '' },
      { class: '', dark: true },
      { class: 'primary', dark: true },
      { class: 'elevation-0' },
    ],
  }),
}
</script>

<style scoped>

</style>