<template>
  <v-app>
    <component v-bind:is="layout"></component>
    <ChangeLayout></ChangeLayout>
  </v-app>
</template>

<script>
import SimpleLayout from "@/layout/SimpleLayout";
import StandardLayout from "@/layout/StandardLayout";
import BaseLayout from "@/layout/BaseLayout";
import ChangeLayout from "@/components/Layout/ChangeLayout";
import InboxLayout from "@/layout/InboxLayout";
import ThreeColumnLayout from "@/layout/ThreeColumnLayout";
import DiscordLayout from "@/layout/DiscordLayout";
export default {
  name : 'App',
  computed: {
    layout () {
      return this.$store.getters.layout
    }
  },
  components: {
    ChangeLayout,
    StandardLayout,
    SimpleLayout,
    BaseLayout,
    InboxLayout,
    ThreeColumnLayout,
    DiscordLayout
    // define as many layouts you want for the application
  }
}
</script>