<template>
<div class="d-flex">
  <AllStatusList></AllStatusList>
  <Chat></Chat>
</div>
</template>

<script>
import AllStatusList from "@/components/Tickets/AllStatusList";
import Chat from "@/components/Chat/Chat";

export default {
  name: "Homepage",
  components:{ Chat, AllStatusList}
}
</script>

<style scoped>

</style>