<template>
  <v-row justify="center">
    <v-dialog
        v-model="value"
        persistent
        max-width="600px"
    >
      <v-card>
        <v-card-title>
          <span class="headline">Création d'un ticket</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <VForm v-model="valid">
                <v-text-field
                    label="Titre"
                    autofocus
                    v-model="title"
                    :rules="rules"
                ></v-text-field>
                <v-text-field
                    label="Description"
                    v-model="description"
                ></v-text-field>
            </VForm>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              color=""
              text
              @click="$emit('close')"
          >
            Close
          </v-btn>
          <v-btn
              color="success"
              @click="save"
              :disabled="!valid"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import {getCurrentDateTime} from "@/services/Utils";

export default {
  name: "CreateForm",
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    dialog: false,
    valid : false,
    rules: [
      value => !!value || 'Obligatoire.',
      value => (value || '').length > 2 || 'Min 20 characters',
      value => (value || '').length <= 20 || 'Max 20 characters',
    ],
    title : '',
    description : '',
  }),
  methods:{
    save(){
      const clientId = Date.now() % 20
      const lastUpdate = getCurrentDateTime()
      this.$emit('save', {title:this.title, description: this.description, clientId, step:0, lastUpdate, status:'created'} )
      this.title = ''
      this.description = ''
    }
  }
}
</script>

<style scoped>

</style>