<template>
  <div>
    <v-fab-transition>
      <v-btn
          color="primary"
          fab
          dark
          absolute
          bottom
          right
          @click="dialog=true"
      >
        <v-icon>add</v-icon>
      </v-btn>

    </v-fab-transition>
    <CreateForm v-model="dialog" @close="dialog=false" @save="create"></CreateForm>
  </div>
</template>

<script>
import TicketsService from "@/services/TicketsDataService";
import CreateForm from "@/components/Tickets/CreatedStatus/CreateForm";

export default {
  name: "CreateButton",
  data: () => ({
    dialog: false,
  }),
  components: {CreateForm},
  methods: {
    create(ticket) {
      this.dialog = false
      TicketsService.create(ticket)
    }
  }

}
</script>

<style scoped>

</style>