<template>
    <VCard>
      <v-toolbar
          color="deep-purple accent-4" style="flex:1"
          dense
          dark
      >
        <TicketListTitle :message="$tc('nbTickets', ticketsCount)"></TicketListTitle>
      </v-toolbar>
      <VDivider/>
      <TicketList status="created" @change="tickets => this.ticketsCount = tickets.length"></TicketList>
      <VCardText v-if="ticketsCount === 0">Cliquer sur '+' pour créer un ticket</VCardText>
      <CreateButton class="mt-4"></CreateButton>
    </VCard>
</template>
<i18n path="">
{
  "en": {
    "nbTickets": "Aucun ticket créé| 1 ticket créé| {count} tickets créés"
  },
  "fr": {
    "nbTickets": "qsdsqd"
  }
}
</i18n>
<script>
import TicketList from "@/components/Tickets/TicketList";
import CreateButton from "@/components/Tickets/CreatedStatus/CreateButton";
import TicketListTitle from "@/components/Tickets/TicketListTitle";

export default {
  name: "CreateList",
  components: {TicketList, CreateButton, TicketListTitle},
  data() {
    return {
      ticketsCount: undefined
    }
  }
}
</script>

<style scoped>

</style>