<template>
  <VFadeTransition>
    <div class="d-flex justify-end">
      <h3>Annuler la modification ?</h3>
      <VBtn class="ml-8" color="red" @click="$emit('input', true)">
        <VIcon large>undo</VIcon>
      </VBtn>
    </div>
  </VFadeTransition>
</template>

<script>
export default {
  name: "AlertUndo"
}
</script>

<style scoped>

</style>