<template>
  <div>
    <VCard>
      <v-toolbar
          color="green accent-4" style="flex:1"
          dense
          dark
      >
        <TicketListTitle :message="$tc('nbTickets', ticketsCount)"></TicketListTitle>
      </v-toolbar>
      <VDivider/>
      <TicketList status="pending" @change="tickets => this.ticketsCount = tickets.length"></TicketList>
    </VCard>
  </div>
</template>
<i18n path="">
{
  "en": {
    "nbTickets": "Aucun ticket en cours | 1 ticket en cours| {count} tickets en cours"
  },
  "fr": {
    "nbTickets": "qsdsqd"
  }
}
</i18n>
<script>
import TicketList from "@/components/Tickets/TicketList";
import TicketListTitle from "@/components/Tickets/TicketListTitle";

export default {
  name: "PendingList",
  components: {TicketList, TicketListTitle},
  data() {
    return {
      ticketsCount: undefined
    }
  }
}
</script>

<style scoped>

</style>