<template>
  <div>
    <v-menu
        bottom
        min-width="200px"
        rounded
        offset-y
    >
      <template v-slot:activator="{ on }">

        <v-btn
            icon
            v-on="on"
            v-bind="{...$attrs}">
          <v-avatar
              color="brown"
              size="32"
          >
            <img src="https://randomuser.me/api/portraits/women/2.jpg"/>
          </v-avatar>
        </v-btn>

      </template>
      <v-card>
        <v-list-item-content class="justify-center">
          <div class="mx-auto text-center">
            <v-avatar
                color="brown"
            >
              <span class="white--text headline">{{ user.initials }}</span>
            </v-avatar>
            <h3>{{ user.fullName }}</h3>
            <p class="caption mt-1">
              {{ user.email }}
            </p>
            <v-divider class="my-3"></v-divider>
            <v-btn
                depressed
                rounded
                text
            >
              Edit Account
            </v-btn>
            <v-divider class="my-3"></v-divider>
            <v-btn
                depressed
                rounded
                text
            >
              Disconnect
            </v-btn>
          </div>
        </v-list-item-content>
      </v-card>
    </v-menu>
  </div>
</template>

<script>
export default {
  name: "CurrentUserResume",
  data: () => ({
    user: {
      initials: 'JD',
      fullName: 'Jane Doe',
      email: 'jane.doe@doe.com',
    },
  }),
}
</script>

<style scoped>

</style>