<template>
<VCard class="d-flex flex-column justify-space-between" style="flex:5; min-width: 300px">
  <v-toolbar
  color="deep-purple accent-4" style="flex:1"
  dense
  dark
  >
  <v-toolbar-title>New Chat</v-toolbar-title>
  </v-toolbar>
  <VCardText style="flex:3">
    <VList style="min-height: 300px ;height: 500px" class="overflow-y-auto" outlined>
      <VListItem v-for="message in messages" :key="message.key">
        <VListItemContent>
          {{message.message}}
        </VListItemContent>
        <v-list-item-icon>
          <VBtn icon @click="remove(message.key)">
          <v-icon color="red">
            delete
          </v-icon>
          </VBtn>
        </v-list-item-icon>
      </VListItem>
    </VList>
  </VCardText>
  <VCardText style="flex:1">
    <VTextField v-model="message" @click:append="send" @keyup.enter="send" append-icon="send"></VTextField>
  </VCardText>
</VCard>
</template>

<script>
import ChatDataService from "@/services/ChatDataService";

import {getCurrentDateTime} from "@/services/Utils";

export default {
  name: "Chat",
  data() {
    return {
      message:'',
      messages: [],
    }
  },
  mounted() {
    ChatDataService.getAll().on("value", this.onDataChange);
  },
  beforeDestroy() {
    ChatDataService.getAll().off("value", this.onDataChange);
  },
  methods: {
    onDataChange(items) {
      let messages = [];

      items.forEach((item) => {
        let key = item.key;
        let data = item.val();
        messages.push({
          key: key,
          ...data
        });
      });

      this.messages = messages;
      this.gotoLast()
    },
    send() {
      const lastUpdate = getCurrentDateTime()
      if (this.message.trim() === '') return
      ChatDataService.create({lastUpdate, message : this.message})
      this.message = ''
    },
    remove(messageKey){
      ChatDataService.delete(messageKey)
    },
    gotoLast() {
      this.$nextTick(() => {
        const sel = this.$refs.endOfList
        console.log('ici', sel)
        this.$vuetify.goTo('.endOfList', {
          duration: 200, offset:1,easing: 'linear'});
      });
    }
  }
}
</script>

<style scoped>

</style>