<template>
  <div class="mb-2">
    <VListItem>
      <div v-if="undoPending">
      <v-overlay
          absolute
          :value="undoPending"
          opacity="0.7"
          v-if="undoPending"
      >
        <AlertUndo v-model="undoConfirm"></AlertUndo>
      </v-overlay>
      </div>
      <v-list-item-avatar>
        <v-img :src="avatar"></v-img>
      </v-list-item-avatar>

      <v-list-item-content>
        <div class="d-flex flex-row justify-space-between">
          <div>
            <v-list-item-title style="max-width: 200px; display: inline-block;">{{ ticket.title }}</v-list-item-title>

            <v-list-item-subtitle>
              <div>
              {{ ticket.description }}
              </div>
              <div style="color: red">
                {{ Step }}
              </div>
            </v-list-item-subtitle>
          </div>
          <div class="d-flex flex-column align-center">
            <ProcessButton :ticket="ticket" @process="process"></ProcessButton>
            <h6 class="mt-2">{{ ticket.lastUpdate }}</h6>
          </div>
        </div>

      </v-list-item-content>
    </VListItem>

  </div>
</template>

<script>
import ProcessButton from "@/components/Tickets/ProcessButton";
import AlertUndo from "@/components/Alert/AlertUndo";

export default {
  name: "TicketItem",
  components: {ProcessButton, AlertUndo},
  props: {
    ticket: {
      type: Object,
      default: () => {
      }
    }
  },
  data() {
    return {
      undoPending: false,
      undoConfirm: false,
    }
  },
  computed: {
    avatar() {
      return `https://randomuser.me/api/portraits/women/${this.ticket.clientId + 1}.jpg`
    },
    Step() {
      return [1, 2, 3].includes(this.ticket.step) ? 'Etape : ' + this.ticket.step + '/3' : ''
    }
  },
  methods: {
    process(action) {
      this.undoPending = true
      setTimeout(() => {
            this.undoPending = false
            if (!this.undoConfirm)
              action()
            this.undoConfirm = false
          }
          , 2000
      )
    }
  },
  watch:{
    undoConfirm(){
      this.undoPending = false
    }
  }
}
</script>

<style scoped>

</style>